App_WebReferences/WebServ1/WebServ1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="HI" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="HI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="HI">
      <s:element name="GetDropDownContents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDropDownContentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDropDownContentsResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue" nillable="true" type="tns:CascadingDropDownNameValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDropDownContentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDropDownContents" />
  </wsdl:message>
  <wsdl:message name="GetDropDownContentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDropDownContentsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetDropDownContents">
      <wsdl:input message="tns:GetDropDownContentsSoapIn" />
      <wsdl:output message="tns:GetDropDownContentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDropDownContents">
      <soap:operation soapAction="HI/GetDropDownContents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDropDownContents">
      <soap12:operation soapAction="HI/GetDropDownContents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://ets.edictate.com/WebServ1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://ets.edictate.com/WebServ1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>